
#files to ignore
HLVL/com.coffee.hlvl.ide/xtend-gen/com/coffee/ide/.HlvlIdeModule.xtendbin
HLVL/com.coffee.hlvl.ide/xtend-gen/com/coffee/ide/.HlvlIdeSetup.xtendbin
HLVL/com.coffee.hlvl.tests/xtend-gen/com/coffee/tests/.HlvlParsingTest.xtendbin
HLVL/com.coffee.hlvl.ui/xtend-gen/com/coffee/ui/.HlvlUiModule.xtendbin
HLVL/com.coffee.hlvl.ui/xtend-gen/com/coffee/ui/contentassist/.HlvlProposalProvider.xtendbin
HLVL/com.coffee.hlvl.ui/xtend-gen/com/coffee/ui/labeling/.HlvlDescriptionLabelProvider.xtendbin
HLVL/com.coffee.hlvl.ui/xtend-gen/com/coffee/ui/labeling/.HlvlLabelProvider.xtendbin
HLVL/com.coffee.hlvl.ui/xtend-gen/com/coffee/ui/outline/.HlvlOutlineTreeProvider.xtendbin
HLVL/com.coffee.hlvl.ui/xtend-gen/com/coffee/ui/quickfix/.HlvlQuickfixProvider.xtendbin
HLVL/com.coffee.hlvl/xtend-gen/com/coffee/.HlvlRuntimeModule.xtendbin
HLVL/com.coffee.hlvl/xtend-gen/com/coffee/.HlvlStandaloneSetup.xtendbin
HLVL/com.coffee.hlvl/xtend-gen/com/coffee/generator/.HlvlGenerator.xtendbin
HLVL/com.coffee.hlvl/xtend-gen/com/coffee/scoping/.HlvlScopeProvider.xtendbin
HLVL/com.coffee.hlvl/xtend-gen/com/coffee/validation/.HlvlValidator.xtendbin

HLVL/com.coffee.hlvl/xtend-gen/

HLVL/com.coffee.hlvl.tests/bin/

HLVL/com.coffee.hlvl.tests/xtend-gen/

HLVL/com.coffee.hlvl/bin/