/Ex4_MCS.hlcl
/Ex4_MCS.xml
/Ex4_MCS_attributes.hlcl
/Ex4_MCS_attributes.java
/Ex4_MCS_attributes.xml
/SatExample_GPL_from_splot.cnf
/SatExample_GPL_from_splot.hlcl
/Ex3_Sousa.hlcl
/Ex3_Sousa.xml
/EX1_PLM_Michel_2011.cnf
/EX1_PLM_Michel_2011.hlcl
/EX2_PLM_Michel.hlcl
/EX2_PLM_Michel.xml
/GPL.hlcl
/GPL.xml
/Model18.cnf
/Model18.hlcl
/GPL_constraints_bool.mzn
/MCM_CH7_int.mzn
/MobilePhoneAttributes_int.mzn
/NewExample_bool.mzn
/Eshop_Operations.json
/MobilePhone.mzn
/EShop.mzn
/EShop_Operations.json
