/.BasicBoolParser.java._trace
/.BasicBoolParser.xtendbin
/.BasicBooleanRules.java._trace
/.BasicBooleanRules.xtendbin
/.ComplexBoolParser.java._trace
/.ComplexBoolParser.xtendbin
/.ComplexBooleanRules.java._trace
/.ComplexBooleanRules.xtendbin
/.DIMACSRules.java._trace
/.DIMACSRules.xtendbin
/BasicBoolParser.java
/BasicBooleanRules.java
/ComplexBoolParser.java
/ComplexBooleanRules.java
/DIMACSRules.java
